.order {
}

.email-input {
  width: 18em;
}

.phone-input {
  width: 16em;
}

.phone , .input {
  padding: 8px;
}

.phone {
  display: inline-block;
}

.email  {
  display: inline-block;
}

.submit-button {
  display: block;
  margin: auto;
  margin-top: 48px;
  font-size: 1.0em;
  padding: 18px;
  color: #78ae6d;
  background-color: transparent;
  border: solid #78ae6d 4px;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: 'Open Sans'; */
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.2s;
  box-shadow: 0 0 4px lightgray;
}

.submit-button:hover {
  color: white;
  background-color:#78ae6d;
  border: solid#78ae6d 4px;
  box-shadow: 0 0 4px gray;  
}