{% extends "base.jinja2"  %}

{% block content %}
    <p>
        Dobrý den,<br />
        děkujeme za Vaši objednávku <b>č. S{{ orderId }}</b>
    </p>
    <div>
        <div>
            <p>
                {% for file in files %}
                    <div>
                        {{ file.name }} -
                        {{ file.material }} -
                        {{ file.color }} -
                        {{ file.amount }}ks -
                        {{ file.price }},-Kč
                    </div>
                {% endfor %}
            </p>
        </div>
        <div>
            Celkem {{ price }},-Kč
        </div>
        <div>
            Ohledně realizace se Vam v nejbližší možné době ozveme.
        </div>
    </div>
{% endblock %}
