{% extends "base.jinja2"  %}

{% block content %}
    <p>
        Dobrý den,<br />
        děkujeme za Vaši objednávku.
    </p>
    <div>
        <div>
            <b>{{ fileName }}</b> -
            <b>{{ filament.material }}</b> -
            <b>{{ filament['color-name'] }}</b> -
            <b>{{ amount }}ks</b> -
            <b>{{ price }},- Kč </b>
        </div>
        <div>
            Celkem {{ price }}Kc
        </div>
        <div>
            Ohledně realizace se Vam v nejbližší možné době ozveme.
        </div>
    </div>
{% endblock %}
