{% extends "base.jinja2"  %}

{% block content %}
    <h1>You have got new order</h1>
    <div>With filament <b>{{ filament }}</b></div>
    <div>Customers email <b>{{ email }}</b></div>
    <div>File is in attachment</div>
{% endblock %}
