slicer:
  executable: path
  printer-definition: path
  profiles:
    coarse: path
    draft: path
    high: path
    low: path
    normal: path
  settings:
      low: filename
stl-upload-directory: relative path
gcode-directory: relative path
settings-directory: relative path
profiles-directory: path
ADMesh-executable: path
filaments-config: relative path
email-config: relative path
database: data/database.db
terminal-encoding: utf-8
