.file-upload {

}

.heading {
  text-align: center;
  margin-bottom: 30px;
}

.file {
  /*height: 40px;*/
  width: 520px;
  padding: 15px;
  border-radius: 0px;
  text-align: center;
  color: #3f3f3f;
  display: flex;
  cursor: pointer;
  background-color: inherit;
  vertical-align: middle;
  /* font-family: 'Work Sans'; */
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
}

.file-upload__border:hover>.file {
  background-color: #faed8a;
  border: dashed #575960 4px;
  padding: 11.5px;
}

.file__text {
  margin: auto;;
}

.file-upload__border {
  margin: auto; 
  background-color: #faf4c4;
  padding: 15px;
  width: 550px;
  display: block;  
  border: solid #f9efa6 2px;
  box-shadow: 0 0 10px lightgray;
  transition: 0.2s;
  margin-top: 40px;
  margin-bottom: 40px;
}

.file-upload__border:hover {
  background-color: #faed8a;
  box-shadow: 0 0 10px gray;
  /* padding: 15px; */
}

.file__icon {
  font-size: 3em;
  padding-right: 25px;
  padding-left: 6px;
  color: rgb(53, 53, 53);
}

.button {
  position: relative;
  transform: translate(0, 150%);
}

.select {
  background-color: pink;
}